.OutputBox {
    background-color: black;
    color: white;
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
    white-space: pre;
    overflow-x: scroll;
    font-family: 'Courier New';
    min-height: 200px;
}
