.RetroForm {
    background-color: #DDDDDD;
    border: 1px solid black;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}

.RetroForm-indent {
    margin-left: 20px;
}

.RetroForm select[multiple] {
    min-height: 110px;
}
