.FileList {
    min-width: 768px;
}

.FileList tr {
    height: 50px;
}

.FileList svg {
    margin-right: 8px;
}

.FileList .Button {
    float: right;
    padding: 1px 10px;
}

.FileList .clickable {
    cursor: pointer;
}

.FileList .current-path {
    word-wrap: break-word;
    display: inline-block;
    margin-right: 120px;
}

.FileList .added {
    float: right;
    font-size: 12px;
    color: gray;
    padding-right: 6px;
    padding-top: 3px;
}
